@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-SemiBold.ttf);

    font-family: 'Kanit';
    src: url(fonts/Kanit-Regular.ttf);
}
:root {
    --azul-gamifynow: rgb(19, 0, 140);
    --laranja-gamifynow: #FE6B37;
}

/* Reset CSS*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, rgba(19, 0, 140, 2)20%, rgba(28, 0, 208, 0.8)50%);
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: var(--azul-gamifynow);

    height: 141px;
}

header img{
    width: 150px;
    margin-top: 25px;
    margin-left: 10%;
    
}

header .container-grid{
    height: 100%;

    display: flex;
    justify-content: center;
}

.menu p{
    font-size: 50px;
    color: var(--azul-gamifynow);

}

.menu img{
    width: 150px;
    width: 150px;
    position: absolute;
    margin-left: 438px;
    top: 4px;
    
    
}

.menu {
    width: 1700px;

    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    
}

.menu a {
    font-size: 25px;
    font-family: "Poppins";
    color: white;

    font-weight: 500;
    

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-descoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: var(--laranja-gamifynow);
    color: var(--laranja-gamifynow);
}

.slideshow-container {
    
    width: 100%;
    position: relative;
    margin: auto;

}

.slideshow {
    display: none;
    position: relative;
}


.slideshow img { 
    width:100%;
    background-image: linear-gradient(0deg, rgba(24, 10, 115, 1) 1%, rgba(24, 10, 115, 0.8) 1%);
}


.legenda {
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    font-family: "Kanit";
    font-weight: 400;

}

.legenda span{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 60px;
}

.legenda a{
    font-family: "Kanit";
    font-size: 25px;
    font-weight: 400;
    color: white;
    position: relative;
    top: 80px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 25px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 25px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, 
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.paginacao { 
    position: absolute;
    bottom: 40px;
    width:100%; 
    float: left;
    margin: 10px 0;
    text-align: center;

}

.dot {
    cursor: pointer;
    height: 10px;
    width: 13px;
    margin: 0 4px;
    border-radius: 50px;
    background-color: var(--azul-gamifynow);
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativo, .dot:hover {
    background-color: var(--laranja-gamifynow);
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}




/*960PX BREAKPOINT - Ajustando o texto para desktop*/
@media (min-width:60em){


    .legenda   { font-size:2em; padding:8px; }
    .paginacao { margin:20px 0; }
    .dot       { width:18px; height:18px; }
}

#sobre{
    height: 700px;
}

.titulo {
    font-family: "Poppins";
    font-weight: 200;
    color: white;
    padding-left: 95px;
    padding-top: 50px;
    font-size: 40px;
    padding-bottom: 50px;



}
.imgt {
    
    display: flex;
    justify-content: space-around;
    gap: 20px;

    padding-left: 20px;

}

.imgoc img{
    height: 400px;
    width: 700px;
}


.textoc p  {
    font-size: 25px;
    text-align: right;
    line-height: 1.5;
    width: 500px;
    color: white;
    font-family: "Kanit";
}



#sobre2{
    height: 700px;
}

.container-missao{

    display: flex;
    justify-content: center;

    gap: 40px;

}

.blocks1{
    height: 58px;
    width: 25%;

    background-color: var(--laranja-gamifynow);

    gap: 20px;
    padding-left: 55px;

    display: flex;
    align-items: center;

}

.blocks2{
    height: 58px;
    width: 25%;

    background-color: var(--laranja-gamifynow);

    gap: 12px;
    padding-left: 42px;

    display: flex;
    align-items: center;

}

.blocks3{
    height: 58px;
    width: 25%;

    background-color: var(--laranja-gamifynow);

    gap: 10px;
    padding-left: 45px;

    display: flex;
    align-items: center;
}

.blocks1 a, .blocks2 a, .blocks3 a{

    width: 100%;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 700;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-descoration 500ms ease;
}

.blocks1 img{
    height: 50px;
    width: 50px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-descoration 500ms ease;
}

.blocks2 img{
    height: 35px;
    width: 45px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-descoration 500ms ease;
}

.blocks3 img{
    height: 42px;
    width: 42px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-descoration 500ms ease;
}

.blocks1 a:hover, .blocks2 a:hover, .blocks3 a:hover{
    text-decoration-color: var(--azul-gamifynow);
    color: var(--azul-gamifynow);
}

.blocks1 img:hover, .blocks2 img:hover, .blocks3 img:hover{
    text-decoration-color: var(--azul-gamifynow);
    color: var(--azul-gamifynow);
}

.imgt2{
    display: flex;
    justify-content: space-around;

    gap: 80px;
    margin: 100px 90px;

}

.listas{
    color: white;
    font-family: "Kanit";
    font-size: 25px;

    margin-top: 40px;

}

.listas p{
    text-align: justify;
    padding-bottom: 20px;
}

#portfolio{
    height: 2050px;

}

#portfolio h2{
    width: 700px;
    font-family: "Poppins";
    color: white;
    padding-left: 120px;
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 50px;
}

#portfolio span{
    font-size: 40px;
}

.feedbacks1{
    height: 500px;
    width: 900px;

    margin-left: 90px;

    display: flex;
    text-align: end;
    justify-content: space-evenly;
    align-items: center;

    padding-left: 10px;

    margin-bottom: 90px;

    background-color: var(--laranja-gamifynow);
    border-radius: 20px;
}

.feedbacks2{
    height: 500px;
    width: 900px;

    margin-left: 530px;

    margin-bottom: 70px;

    display: flex;
    text-align: end;
    justify-content: space-evenly;
    align-items: center;

    padding-right: 10px;


    background-color: var(--laranja-gamifynow);
    border-radius: 20px;
}
.feedbacks3{
    height: 500px;
    width: 900px;

    margin-left: 90px;

    margin-bottom: 70px;

    display: flex;
    text-align: end;
    justify-content: space-evenly;
    align-items: center;

    padding-right: 10px;


    background-color: var(--laranja-gamifynow);
    border-radius: 20px;
}

.rostos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.portmais{
    height: 70px;
    width: 35%;

    margin-left: 770px;

    background-color: white;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: left;
}

.portmais a{
    font-family: "Kanit";
    font-size: 20px;
    margin-left: 22px;
}

.portmais a img{
    height: 50px;
    width: 100%;

    margin-top: 10px;

}

#cases{
    height: 700px;

    margin-top: 70px;
}

#cases h2{
    color: white;
    font-family: "Poppins";
    font-size: 30px;

    padding-left: 120px;
}

.container-cards{
    margin: 50px 100px;

    display: flex;
    justify-content: center;

    gap: 40px;
}

.cards1{
    height: 500px;
    width: 40%;

    display: flex;
    align-items: center;

    background-color: var(--laranja-gamifynow);
    border-radius: 50px;
}

.cards1 img{
    padd
}

.card1 a{
    background-color: var(--azul-gamifynow);

    border-radius: 7px;
    border: none;

    height: 40px;
    width: 90%;

    color: white;

    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;

}
.cards2{
    height: 300px;
    width: 50%;

    background-color: var(--laranja-gamifynow);
}
.cards3{
    height: 300px;
    width: 50%;

    background-color: var(--laranja-gamifynow);
}
.cards4{
    height: 300px;
    width: 50%;

    background-color: var(--laranja-gamifynow);
}