@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-SemiBold.ttf);

    font-family: 'Kanit';
    src: url(fonts/Kanit-Regular.ttf);
}
:root {
    --azul-gamifynow: #13008C;
    --laranja-gamifynow: #FE6B37;
}

/* Reset CSS*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: var(--azul-gamifynow);

    height: 156px;
}

header img{
    width: 150px;
    margin-top: 20px;
    margin-left: 42.5%;
    
}

header .container-grid{
    height: 100%;

    display: flex;
    justify-content: center;
}





























.slideshow-container {
    
    width: 100%;
    position: relative;
    margin: auto;

}

.slideshow {
    display: none;
    position: relative;
}


.slideshow img { 
    width:100%;
    background-image: linear-gradient(0deg, rgba(24, 10, 115, 1) 2%, rgba(24, 10, 115, 0.8) 10%);
}


.legenda {
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 35%;

}

.legenda span{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 60px;
}

.legenda{
    font-family: "Kanit";
    font-weight: bold;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, 
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.paginacao { 
    width:100%; 
    float:left;
    margin: 10px 0;
    text-align: center;

}

.dot {

    cursor: pointer;
    height: 10px;
    width: 13px;
    margin: 0 4px;
    border-radius: 50px;
    background-color: var(--azul-gamifynow);
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativo, .dot:hover {
    background-color: var(--laranja-gamifynow);
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}




/*960PX BREAKPOINT - Ajustando o texto para desktop*/
@media (min-width:60em){


    .legenda   { font-size:2em; padding:8px; }
    .paginacao { margin:20px 0; }
    .dot       { width:18px; height:18px; }
}