@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-SemiBold.ttf);

    font-family: 'Kanit';
    src: url(fonts/Kanit-Regular.ttf);
}
:root {
    --azul-gamifynow: #13008C;
    --laranja-gamifynow: #FE6B37;
}

/* Reset CSS*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{

    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slider-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slider-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 43%;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid var(--azul-gamifynow);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;

}

.nav-manual.manual-btn:hover{
    border-color: var(--azul-gamifynow);
}













.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-image: linear-gradient(0deg, rgba(24, 10, 115, 1) 0%, rgba(24, 10, 115, 0.55) 0%), url(img/FundoGamify.png);
    background-repeat: no-repeat;

    background-position: 0px 150px;
}

header {
    background-color: var(--azul-gamifynow);

    height: 200px;
}

header img {
    width: 180px;

    position: relative;
    top: 2px;
    left: 550px;
}

header .logo {
    padding: 0.5%;

    display: flex;

    justify-content: center;
}